@mixin flexcenter {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


header {
    background: lightblue;                                                
    color: $textColor;
    button {
        background: $buttonColor;
        &::after {
            content: "helloooooo";
        }
    }

}